table{
    border: 1px solid black;
    border-collapse: collapse;
    /* border-collapse: separate; */
}
caption{
    border: 1px solid black;
}
/* tr{
   border: 1px solid black; => we cannot apply border on (Table Row) tag
} */
 th{
   border: 1px solid black;
   height: 30px;
   padding: 10px;
 }
 td{
   border: 1px solid black;
   height: 50px;
   padding: 5px;
   text-align: center;
 }