/* p::first-letter{
   font-size: 40px;
   color: tomato;
} */
/* p::first-line{
    font-size: 40px;
    color: tomato;
}

p::selection{
    color: blueviolet;
    background-color: crimson;
} */
/* 
::selection{
    color: blueviolet;
    background-color: tomato;
} */

/* For adding the content */
h1::before{
   content: "Alex ";
}
h1::after{
   content: " Alex ";
}