.transition{
   width: 250px;
   height: 250px;
   background-color: aqua;
   margin: 140px;
   transition-property: all;
   transition-duration: 2s;
   /* transition-delay: 2s; */
   transition-timing-function: ease-in-out;
}
.transition:hover{
    width: 400px;
    background-color: blueviolet;
    height: 400px;
}