.flex-container{
    border: 3px solid black;
    /* height: 50vh; */
    display: flex;
    /* flex direction */
    /* by default */
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* flex wrap */
    /* by default no wrap */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;

}

.flex-item{
    border: 2px solid black;
    margin: 15px;
    width: 130px;
    height: 130px;
}

#item-1 {
     background-color: crimson;
}

#item-2 {
     background-color: blueviolet;
}

#item-3 {
     background-color: yellow;
}

#item-4 {
     background-color: green;
}