@keyframes alex {
    /* from {
       background-color: tomato;
    }
    to {
       background-color: aqua;
    } */
     0% {
       background-color: tomato;
     }
     25% {
        width: 400px;
     }
     50% {
       background-color: blueviolet;
     }
     75% {
        width: 500px;
     }
     100% {
       background-color: red;
     }
    
}

.animation{
    background-color: tomato;
    width: 300px;
    height: 300px;
    animation-name: alex;
    animation-duration: 2s;
}

.animation2{
    background-color: tomato;
    width: 300px;
    height: 300px;
    animation-name: alex;
    animation-duration: 2s;
}