.grid-container{
    background-color: aquamarine;
    height: 550px;
    display: grid;
    /* grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px; */

    /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; */

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;

    /* justify-items: center;
    justify-items: end; */
    /* justify-items: start; */

    /* align-items: center; */
    /* align-items: start; */
    /* align-items: end; */

    /* shothand property of justify-items and align-items */
    place-items: center;

    
}

.item{
   background-color: chartreuse;
   height: 130px;
   width: 130px;
   /* margin: 4px; */
}

#item-1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-row-start: 1;
    grid-row-end: 4; */
    /* shorthand property */
    /* grid-column: 1 / span 3; */
    /* grid-row: 1 / span 3; */
    /* justify-self: center; */
     /* align-self: center; */
}