.function {
   background-color: tomato;
   height: 300px;
   /* width: 70%; */
   width: calc(100% - 300px);
}
.function2 {
   background-color: blueviolet;
   height: 300px;
   /* width: 70%; */
   width: calc(100% - 300px);
}
.function3 {
   background-color: green;
   height: 300px;
   /* width: 70%; */
   width: calc(100% - 300px);
}