.box{
   font-size: 50px;
   background-color: aqua;
   display: none;
}

@media screen and (max-width: 450px)
{
    /* mobile */
    #box-1{
       display: block;
    }
}

@media screen and (min-width: 451px) and (max-width: 780px)
{
    /* Tablet */
    #box-2{
       display: block;
    }
}